body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/w3images/mac.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}



.game-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  padding: 5px;
  margin: 30px;
}

.game-card-h3 {
  width: 300px;
  height: 50px;
}

.game-card {
  /* display:flex;
  flex-direction: column; */
  width: 290px;
  align-items: center;
  border: 2px solid rgb(4, 3, 3);
  text-align: center;
}

.game-card-image img {
  width: 100%; /* 이미지 너비를 부모 요소에 맞게 100%로 설정 */
  height: 400px; /* 이미지 높이를 자동으로 조정하여 비율 유지 */
}

.game-card-button {
  width: 100%;
  background-color: white; 
}



/* 모달 전체 화면을 덮는 배경 */
.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

/* 모달 내용 */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #888;
  width: 800px;
  max-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#game-info {
  display: flex;
  flex-direction: row;
}

.game-description {
  margin-top: 70px;
  padding-left: 30px;
}

.modal-content img {
  width: 300px;
  height: 400px;
  margin-top: 80px;
}

/* 모달 닫기 버튼 */
.close {
  float: right;
  position: relative;
  right: 10px;
  top: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}